.home {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
}

.home-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.home-title1 {
    font-size: 60px;
    letter-spacing: 10px;
    font-weight: 300;
}
.home-title2 {
    font-size: 60px;
    letter-spacing: 10px;   
    color: #00A154;     
}

.home-subtitle {
    font-size: 40px;
    font-weight: 100;
    margin:20px 0px 60px 0px;
}

.home-container-cards {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
}

@media screen and (max-width:1000px) {
    .home-container-cards{
        flex-direction: column;
    }
    .home-card {
        margin: 10px;
    }
    .home-title1 {
        font-size: 45px;
        letter-spacing: 8px;
        text-align: center;
        margin: 0px 30px;
    }
    .home-title2 {
        font-size: 45px;
        letter-spacing: 8px;     
        text-align: center;
        margin: 0px 30px;
    }
    .home-subtitle {
        font-size: 30px;
        margin:20px 30px 60px 30px;
        text-align: center;
    }
}


@media screen and (max-width:500px) {
    .home {
        margin-top: 70px;
    }
}



