.number {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 150px;
    margin-bottom: 50px;
}

.number-title1 {
    font-size: 60px;
    letter-spacing: 10px;
    font-weight: 300;
    text-align: center;
    padding: 0px 50px;
}
.number-title2 {
    font-size: 60px;
    letter-spacing: 10px;   
    color: #00A154;     
    text-align: center;
}

.number-inputs {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    position: relative;
    width: 100%;
    margin-top: 70px;
}

.number-input-to {
    position: absolute;
    font-size: 25px;
}

.number-input {
    text-align: center;
    padding: 10px 15px;
    background-color: #00A154;
    color: #fff;
    font-size: 25px;
    border: 3px solid #111;
}

.number-button {
    text-align: center;
    background-color: #111;
    color: #fff;
    font-weight: 100;
    font-size: 16px;
    padding: 15px 30px;
    margin-top:70px;
    text-decoration: none;
    cursor: pointer;
}

.number-created-container-buttons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}

.number-created{
    font-size: 100px;
    margin-top: 70px;
}

@media screen and (max-width: 900px) {
    .number-title1 {
        font-size: 45px;
    }
    .number-title2 {
        font-size: 45px;
    }
    .number-inputs {
        flex-direction: column;
    }
    .number-input {
        margin: 30px 0px;
        padding: 10px 15px;
        width: 270px;
    }
}

@media screen and (max-width:700px) {
    .number-created-container-buttons {
        flex-direction: column;
        width: 270px;
    }
}

@media screen and (max-width:500px) {
    .number {
        margin-top: 70px;
    }
    .number-inputs {
        margin-top: 20px;
    }
    
    .number-button {
        margin-top:20px;
    }
    .number-title1 {
        padding: 0px 0px;
    }
    .number-created{
        margin-top: 30px;
    }
}